<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Учет потерь техники{% endblock %}</title>

    {#Bootstrap#}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'homepage' %}">
                <img src="https://avatars.dzeninfra.ru/get-zen_doc/5255669/pub_62405352d90de20a9a594128_624055036e599c56a3e76cd4/scale_1200" style="width: 2rem; height: 2rem" alt="Логотип" width="40" height="40" class="d-inline-block align-text-top">
                Zа Наших!
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Переключить навигацию">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="statsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Статистика
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="statsDropdown">
                            <li><a class="dropdown-item" href="">По регионам</a></li>
                            <li><a class="dropdown-item" href="">По датам</a></li>
                            <li><a class="dropdown-item" href="">По типам техники</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="personnelDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Личный состав
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="personnelDropdown">
                            <li><a class="dropdown-item" href="">Список бойцов</a></li>
                            <li><a class="dropdown-item" href="">Награды</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="equipmentDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Техника
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="equipmentDropdown">
                            <li><a class="dropdown-item" href="">Список техники</a></li>
                            <li><a class="dropdown-item" href="">Поврежденная техника</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
